-let path = f => `${image_dir}${f}.${image_ext}`
-let alt_path = f => `${image_dir}${f}.${image_alt_ext}`
each s in sections
	.gallery-section
		h2.gallery-section-title
			=s.title
		.gallery-section-canvas(
			style=`width: ${s.width}px; height: ${s.height}px;`
		)
			each p in s.images
				picture(
					class="gallery-image"
					image-ratio=1.0*p.width/p.height
					style=`width: ${p.width}px; height: ${p.height}px; left: ${p.x}px; top: ${p.y}px;`
				)
					source(
						srcset=path(p.file)
						type=`image/${image_ext}`
					)
					source(
						srcset=alt_path(p.file)
						type=`image/${image_ext}`
					)
					img(
						src=alt_path(p.file)
						alt=p.name
					)